language: node
node: 12

cache:
    directories:
        - api/build
        - api/static
        - api/node_modules
        - frontend/node_modules

notifications:
    webhooks: $JIRA_WEBHOOK
    on_success: always
    on_failure: always
    on_start: always
    on_cancel: always
    on_error: always

jobs:
    include:
        - stage: Install dependencies
          before_install:
              - npm i lerna
              - rm -rf api/node_modules
              - rm -rf frontend/node_modules
              - rm -rf api/static
              - rm -rf api/build
          install: npm run boot

        - stage: Lint
          name: frontend
          install: skip
          script: npm run lint:frontend

        - stage: Test
          name: frontend
          install: skip
          script: npm run test:frontend

        - stage: Test
          name: api
          install: skip
          script: npm run test:api

        - stage: Build
          name: frontend
          install: skip
          script: npm run build:frontend

        - stage: Build
          name: api
          install: skip
          script: npm run build:api

        - stage: Deploy
          name: heroku
          if: branch = main
          install: skip
          script: skip
          deploy:
              provider: heroku
              app: erokhin-time-manager
              on: main
              skip_cleanup: true
              api_key: $SECRET_KEY_HEROKU
